<div id="aboutContent">
    <h2>Core Values</h2>
    <ul>
        <li>Robustness of a Mountain Range</li>
        <li>Towering above the Competition</li>
        <li>Enduring for Millennia</li>
    </ul>
    <h2>Vision</h2>
    A world abundant in prosperity, security, and inspiration

    <h2>Mission</h2>
    To reduce societal costs to the bare minimum <br> <br>

    Many consultancy projects end in an "investment proposal." Unfortunately, these reports are often the product of
    mindless babbling. At Alpine CCC, we focus on real components of the income statement: costs. Every balance
    consists of income and costs. We help businesses reduce their costs because lower costs provide more freedom of movement
    for a firm's core activities.

    <h2>Strategy</h2>
    To ethically serve 7 hospitality businesses in the first year of operations by eliminating unnecessary costs, based on the dedication of a workhorse and student frugality
</div>