<div id="aboutContent">
    <h2>Core Values</h2>
    <ul id="valueList">
        <li>Robustness of a Mountain Range</li>
        <li>Towering above the Competition</li>
        <li>Enduring for Millennia</li>
    </ul>
    <h2>Vision</h2>
    A world abundant in prosperity, security, and inspiration

    <h2>Mission</h2>
    To reduce societal costs to the bare minimum <br> <br>

    In our networked economy, businesses face two prevalent problems. First, it is cumbersome to manage the vast amount of SaaS subscriptions. Second, many of these subscriptions cost more than they are worth. Therefore, we take a similar approach to Costco: we leverage larger volumes to negotiate lower prices with SaaS providers. Additionally, we help all customers establish the right package of service providers.

    <h2>Strategy</h2>
    To serve eight small firms in the first year of operations by eliminating unnecessary costs, based on the dedication of a workhorse and student frugality
</div>