<footer id="foot">
    <h3 style="cursor: help;" (click)="scrollToBottom()">A</h3>
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact / Pricing</a>
    <a href="https://medium.com/@alpinecc">Blog</a>
    <div class="socials" #scrollTarget>
        <a href="https://twitter.com/AlpineCostCsltg">
            <img src="../../../assets/x-logo-black.png" alt="X Account" class="socialIcon">
        </a>
        <a href="https://www.linkedin.com/company/alpineccc">
            <img src="../../../assets/LinkedIn-icon.svg" alt="LinkedIn Account" class="socialIcon">
        </a>
    </div>
</footer>
